<%- include("header") -%>


    <% if(listTitle==="Saturday" || listTitle==="Sunday" ){ %>
        <h1 style="color: green;">
            <%= listTitle %> List
        </h1>
        <% } %>

            <h1 style="color: red;">
                <%= listTitle %>
            </h1>

            <div class="list">

                <% for(var i=0; i< newListItems.length; i++){ %>
                    <input type="checkbox">
                    <p>
                        <%= newListItems[i] %>
                    </p>

                    <% } %>
            </div>

            <form action="/" method="post">
                <input type="text" name="list" value=<%=listTitle%> placeholder="to-do?" autocomplete="off">
                <button type="submit">ADD</button>
            </form>
            <%- include("footer") -%>