<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <!-- <%= kindOfDay %> -->
        <% if(kindOfDay==="Saturday" || kindOfDay==="Sunday" ){ %>
            <h1 style="color: green;">
                <%= kindOfDay %> List
            </h1>
            <% } %>

                <h1 style="color: red;">
                    <%= kindOfDay %>
                </h1>

                <ul>
                    <li>Buy food</li>
                    <li>Cood food</li>
                    <li>eat food</li>
                    <% for(var i=0; i< newListItems.length; i++){ %>
                        <li>
                            <%= newListItems[i] %>
                        </li>
                        <% } %>
                </ul>

                <form action="/" method="post">
                    <input type="text" name="newItem" placeholder="to-do?" value="to-do?">
                    <button type="submit">ADD</button>
                </form>

                <!-- It's a <%= kindOfDay %> -->
    </h1>
</body>

</html>